/*body {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(225, 110, 9)0%, rgba(194,20,160,1) 51%, rgba(0,212,255,1) 100%);
}*/

body {
    background-image: url(22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bg {
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 5px;
}

.end :hover{
    color: red;
}
.end{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}